* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}


.header {
    background: #4a69bd;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.header h1 {
    font-size: 36px;
}

.header p {
    margin: 10px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: #4a69bd;
    text-decoration: none;
    border-radius: 5px;
}


.section {
    padding: 40px 20px;
    text-align: center;
    background: white;
    margin: 20px;
    border-radius: 8px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #4a69bd;
    color: white;
    padding: 20px;
    width: 150px;
    border-radius: 6px;
}


footer {
    background: #2f3640;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
